<ion-header>
<ion-navbar>
<ion-title>
My Beacons
</ion-title>
</ion-navbar>
</ion-header>


<ion-content>
 
     <ion-list inset>
	 <ion-title>API working.</ion-title>
    <ion-item *ngFor="let user of users">
      <h2>{{user.first_name}} {{user.last_name}}</h2>
    </ion-item>
  </ion-list>
  
  
<ion-list no-lines>

<ion-item *ngFor='let beacon of beacons'>
<ion-grid>
<ion-row>
<ion-col>Major</ion-col>
<ion-col>{{beacon}}{{beacon.major}}</ion-col>
</ion-row>
<ion-row>
<ion-col>Minor</ion-col>
<ion-col>{{beacon.minor}}</ion-col>
</ion-row>
<ion-row>
<ion-col>RSSI</ion-col>
<ion-col>{{beacon.rssi}}</ion-col>
</ion-row>
</ion-grid>
</ion-item>

</ion-list>
</ion-content>